.menu-list {
    width: 248px;

    .menu-item {
        margin-left: 0;
        color: var(--text-color);
    }
}

.menu-item {
    width: 100%;
    justify-content: flex-start;
    font-weight: 550;
    padding: 11px 16px;
    &:hover {
        background: rgba(22, 24, 35, 0.03);
        border-radius: 0;
    }
}

//Header
.header {
    margin-top: -8px;
    position: relative;
    height: 50px;
}

.back-btn {
    background-color: transparent;
    height: 100%;
    width: 50px;
    cursor: pointer;
}

.header-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
