.wrapper {
    --search-height: 46px;
    --search-top-spacer: 9px;
    --search-button-width: 52px;
    width: 100%;
    height: var(--default-layout-header-height);
    box-shadow: rgb(0 0 0 / 12%) 0px 1px 1px;
    display: flex;
    justify-content: center;
}

.inner {
    height: 100%;
    width: var(--default-width-layout);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.wrapper {
}

.inner {
}

.logo {
}
.search,
.search-result {
    width: 361px;
}

.search {
    position: relative;
    width: 361px;
    height: var(--search-height);
    background-color: #f1f1f2;
    border-radius: 92px;
    padding-left: 16px;
    display: flex;
    border: 1.5px solid transparent;

    input {
        flex: 1;
        height: 100%;
        color: black;
        font-size: 1.6rem;
        caret-color: var(--primary);
        background-color: transparent;
    }

    input:not(:placeholder-shown) ~ .search-btn {
        color: #4c4e57;
    }

    &::after {
        content: '';
        position: absolute;
        top: var(--search-top-spacer);
        right: var(--search-button-width);
        width: 1px;
        height: calc(var(--search-height) - var(--search-top-spacer) * 2);
        background-color: #d7d7d9;
        top: 50%;
        transform: translateY(-50%);
    }

    &:focus-within {
        border-color: rgba(22, 24, 35, 0.2);
    }
}

.loading,
.clear {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: calc(var(--search-button-width) + 14px);
    color: rgba(22, 24, 35, 0.34);
    cursor: pointer;
}

.search-btn {
    width: var(--search-button-width);
    height: 100%;
    cursor: pointer;
    border-top-right-radius: 92px;
    border-bottom-right-radius: 92px;
    font-size: 1.8rem;
    color: #a2a2a7;

    &:hover {
        background-color: #eaeaeb;
    }

    &:active {
        background-color: rgba(22, 24, 35, 0.06);
    }
}

.search-title {
    height: 30px;
    padding: 5px 12px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: rgba(22, 24, 35, 0.5);
}

// .customer-login {
//     color: red;
// }
